pxbody {
  background: orange;
}
/*width: 80vw;
    height: 70vh;
    background-color: #fff;
    background-image: url(./images/illustration-woman-online-desktop.svg), url(./images/bg-pattern-desktop.svg);
    background-size: 40%, 80%;
    background-position: top 40% right 113%, top 69% right 340%;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;*/